<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<h1>Task Details</h1>
<%= link_to 'Home', tasks_path %>
<div>
  <h3><%= @task.title %></h3>
  <p><%= @task.details %></p>
  <p>Completed: <%= @task.completed ? 'Yes' : 'No' %></p>
</div>

</body>
</html>
